.contenitore {
  margin-top: 180px;
}

.content {
  padding: 0 50px !important;
  margin: 0 auto;
}

i {
  font-size: 1.5em;
}

.rectangles {
  // margin : 1em 1em;
  padding: 15px;
}

.hr {
  height: 2px;
  border: 1px solid #eaecf0;
  background-color: #eaecf0;
}
