 /* Style the video: 100% width and height to cover the entire window */
 #myVideo {
   min-width: 100%;
   min-height: 50%;
   width: 100%;
 }

//  #background-video-container {
//    position: fixed;
//    right: 0;
//    bottom: 0;
//    width: 100%;
//    height: auto;
//    z-index: -1;
//    overflow: hidden;
//  }
