
 #myVideo {
   min-width: 100%;
   min-height: 50%;
   width: 100%;
   z-index: -1;
 }


// #myVideo {
//   position: fixed;
//   top: 0;
//   left: 0;
//   min-width: 100%;
//   min-height: 50%;
//   width: 100%;
//   z-index: -1;
//   filter: brightness(1);
// }
