<section class="container-fluid">
  <div class="contenitore">
    <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner rounded">
        <div *ngFor="let recipe of recipes; let i = index" class="carousel-item" id="carouselItem"
          [class.active]="i === 0">
          <img class="d-block w-100" src="{{recipe.imageUrl}}" alt="{{ recipe.title }}">
          <div class="carousel-caption">
            <h3>{{ recipe.title }}</h3>
            <p>{{ recipe.category }}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#recipeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#recipeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <div class="row">

      <div *ngFor="let recipe of recipes" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 text-center">
        <div class="card my-4">
          <div>
            <img src="{{recipe.imageUrl}}" class="img-fluid rounded" alt="...">
            <div>
              <div class="card-body">
                <h5 class="card-title">Titolo: {{recipe.title}}</h5>
                <span>Categoria: {{recipe.category}}</span>
                <p class="card-text">Tempo di preparazione: {{recipe.prepTime}}</p>
                <p class="card-text">Tempo di cottura: {{recipe.cookTime}}</p>
                <p class="card-text"><small class="text-body-secondary">Portate: {{recipe.servings}}</small></p>
              </div>
              <div class="text-center">
                <button class="btn btn-danger m-2" *ngIf="(showForms)"
                  (click)="deleteRecipe(recipe.id!)">Cancella</button>
                <button class="btn btn-warning m-2" *ngIf="(showForms)"
                  (click)="updateRecipe(newRecipe.id!, newRecipe)">Modifica</button>
                <a routerLink='detail-page/{{recipe.id}}' type="button" class="btn btn-primary m-2">Info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="(showForms)">

      <form (submit)="createRecipe()">

        <h2>Inserisci una nuova ricetta</h2>

        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newRecipeModal">Aggiungi nuova
          ricetta</button>

        <!-- Modale per creare una nuova ricetta -->
        <div class="modal fade" id="newRecipeModal" tabindex="-1" aria-labelledby="newRecipeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="newRecipeModalLabel">Nuova Ricetta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form (submit)="createRecipe()">
                  <div class="form-group">
                    <label for="Title">Titolo</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="newRecipe.title" name="title"
                      required>
                  </div>

                  <div class="form-group">
                    <label for="category">Categoria</label>
                    <select class="form-control" id="category" [(ngModel)]="newRecipe.category" name="category"
                      required>
                      <option value="ANTIPASTI">ANTIPASTI</option>
                      <option value="PRIMI">PRIMI</option>
                      <option value="SECONDI">SECONDI</option>
                      <option value="CONTORNI">CONTORNI</option>
                      <option value="DESSERTS">DESSERTS</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="Instructions">Istruzioni</label>
                    <input type="text" class="form-control" id="instructions" [(ngModel)]="newRecipe.instructions"
                      name="instructions" required>
                  </div>

                  <div class="form-group">
                    <label for="PrepTime">Tempo di preparazione</label>
                    <input type="text" class="form-control" id="prepTime" [(ngModel)]="newRecipe.prepTime"
                      name="prepTime" required>
                  </div>

                  <div class="form-group">
                    <label for="CookTime">Tempo di cottura</label>
                    <input type="text" class="form-control" id="cookTime" [(ngModel)]="newRecipe.cookTime"
                      name="cookTime" required>
                  </div>

                  <div class="form-group">
                    <label for="Servings">Portate</label>
                    <input type="text" class="form-control" id="servings" [(ngModel)]="newRecipe.servings"
                      name="servings" required>
                  </div>

                  <div class="form-group">
                    <label for="ImageUrl">Image url</label>
                    <input type="text" class="form-control" id="imageUrl" [(ngModel)]="newRecipe.imageUrl"
                      name="imageUrl" required>
                  </div>

                  <div class="form-group">
                    <label for="Ingredients">Ingredienti</label>
                    <select class="form-control" [(ngModel)]="selectedIngredients" name="selectedIngredient" multiple>
                      <option *ngFor="let ingredient of ingredients" [value]="ingredient">{{ ingredient.name }}</option>
                    </select>
                  </div>

                  <!-- ?Form per creare un nuovo ingrediente -->
                  <form>
                    <div class="form-group">
                      <label for="newIngredient">Crea un nuovo ingrediente qui sotto</label>
                      <input type="text" class="form-control" [(ngModel)]="newIngredient.name" name="name"
                        placeholder="Nome ingrediente" (input)=" newIngredient.name = formatInput(newIngredient.name)">
                      <input type="text" class="form-control" [(ngModel)]="newIngredient.quantity" name="quantity"
                        placeholder="Quantità ingrediente">
                      <button (click)="addIngredientToList()" class="btn btn-primary mt-3">Aggiungi ingrediente</button>
                    </div>

                    <!--? Elenco degli ingredienti aggiunti -->
                    <hr>
                    <div>
                      <h4>Ingredienti aggiunti:</h4>
                      <ul>
                        <li *ngFor="let ingredient of selectedIngredients"> {{ ingredient.name }} - {{
                          ingredient.quantity
                          }}
                          <button class="btn btn-danger" (click)="removeIngredient(ingredient)">Rimuovi</button>
                        </li>
                      </ul>

                    </div>
                  </form>

                  <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Salva</button>
                    <button type="button" class="btn btn-secondary">Annulla</button>
                  </div>
                </form>

                <hr>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              <button type="submit" class="btn btn-primary">Salva</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <nav aria-label="..." class="my-4">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" type="button" (click)="previousPage()">Precedente</a>
        </li>
        <li class="page-item">
          <a class="page-link" type="button" (click)="nextPage()">Prossima</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
