.contenitore {
  padding: 0 7%;
  margin: 0;
}

#recipeCarousel {
  margin: 140px 0px;

  #carouselItem {
    height: 500px;
  }

  img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
}

.card {
  background: rgb(245, 245, 220);
  background: -moz-linear-gradient(207deg, rgba(245, 245, 220, 1) 27%, rgba(112, 128, 144, 1) 84%, rgba(77, 80, 82, 1) 97%);
  background: -webkit-linear-gradient(207deg, rgba(245, 245, 220, 1) 27%, rgba(112, 128, 144, 1) 84%, rgba(77, 80, 82, 1) 97%);
  background: linear-gradient(207deg, rgba(245, 245, 220, 1) 27%, rgba(112, 128, 144, 1) 84%, rgba(77, 80, 82, 1) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5dc", endColorstr="#4d5052", GradientType=1);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}
