<nav class="navbar navbar-expand-lg sticky-top navbar-scroll" id="navEl">
    <a class="navbar-brand text-truncate" id="navText" href="#">
      <img src="../../../../assets/img/CULINARY SOLUTION (13).png" class="rounded-pill me-3 border border-1 border-black d-md-inline d-none" alt="logo"
        style="max-width: 100px; max-height: 100px;">CULINARY SOLUTION</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link ms-2 fs-5" href="/homepage">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-2 fs-5" href="/recipes">Recipes</a>
          </li>
        </ul>
      </div>
      <div class="navbar-nav" style=" margin-left:auto;">
        <a class="m-1" (click)="logOut()" *ngIf="!showButtonsLog"><button id="logoutBtn"
            class="btn border border-2 border-black" type="button">Logout</button></a>
        <a href="/login" class="m-1" *ngIf="showButtonsLog"><button id="loginBtn"
            class="btn btn-light">Login</button></a>
        <a href="/register" class="m-1" *ngIf="showButtonsLog"><button id="registerBtn"
            class="btn btn-light">Register</button></a>
      </div>
    </div>
</nav>
