<nav class="navbar navbar-expand-lg navbar-scroll" id="navEl">

    <a class="navbar-brand" id="navText" href="/homepage">
      <img src="../../../../assets/img/CULINARY SOLUTION (17).png"
      class="rounded-pill me-3 border border-1 border-black d-md-inline d-none" alt="logo"
      style="max-width: 100px; max-height: 100px;">
      CULINARY SOLUTION
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link ms-2 fs-5 orange" href="/homepage">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-2 fs-5 orange" href="/recipes">Ricette</a>
          </li>
        </ul>
      </div>

      <div class="navbar-nav" style=" margin-left:auto;">

        <img type="button" data-bs-toggle="dropdown" class="rounded-circle" id="avatarLogo" src="../../../../assets/img/man_4140037.png" alt="userImg"  data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">

        <ul class="dropdown-menu dropdown-menu-end dropdown-avatar text-white">

          <li><a class="dropdown-item" href="/users"><i class="bi bi-person me-2"></i>Profilo</a></li>
          <li><a class="dropdown-item" href="/recipes"><i class="bi bi-star me-2"></i>Ricette</a></li>

          <li>
              <hr class="dropdown-divider">
          </li>

          <li>
            <a class="m-1" (click)="logOut()" *ngIf="!showButtonsLog">
              <button id="logoutBtn" class="btn-sm border border-2 border-black" type="button">Logout</button>
            </a>
          </li>

          <a href="/" class="m-1" *ngIf="showButtonsLog">
            <button id="loginBtn" class="btn btn-light">Login</button>
          </a>

          <a href="/register" class="m-1" *ngIf="showButtonsLog">
            <button id="registerBtn" class="btn btn-light">Registrati</button>
          </a>

      </ul>

      </div>
    </div>
</nav>
