  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-truncate" href="#"><img src="../../../assets/img/CULINARY SOLUTION.png" class="rounded-pill me-3" alt="" style="max-width: 100px; max-height: 100px;">CULINARY SOLUTION</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link ms-1" href="/homepage">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-1" href="/recipes">Recipes</a>
          </li>
        </ul>
        </div>
        <div class="navbar-nav" style=" margin-left:auto;">
        <a class="m-1" (click)="logOut()" *ngIf="!showButtonsLog"><button class="btn btn-danger">Logout</button></a>
        <a href="/login" class="m-1" *ngIf="showButtonsLog"><button class="btn btn-primary">Login</button></a>
        <a href="/register" class="m-1" *ngIf="showButtonsLog"><button class="btn btn-light">Register</button></a>
      </div>
       </div>
    </div>
  </nav>

<header>
    <div id="background-video-container">
      <!-- <video autoplay loop muted>
        <source src="../../../../assets/videos/603375_Stir Fry Flame Frying Pan Cooking_By_Phantom_Gravity_Artlist_HD(1).mp4" type="video/mp4">
        Il tuo browser non supporta la riproduzione del video.
      </video> -->
    </div>
</header>
