header {
  background-image: url(../../../../assets/img/todd-quackenbush-x5SRhkFajrA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  height: 700px;
  width: 100%;
  .jumbotron{
    margin-top: 180px;

  }
}
